model-viewer {
    width: 100%;
    height: 300px;
}
/* Additional styles */
#speechButton {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    min-width: 100px; 
    white-space: nowrap;
    z-index: 1000;
}
#speechButton:hover {
    background-color: #45a049;
}
#modelViewer {
    background-image: url('../static/images/xrai.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 50vh;
}
#fixedButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Ensuring the button is above other elements */
}